body {
	background-image: url(img/space.jpg);
}

.container-fluid {
	background-image: url(img/space.jpg);	

}

.navbar-brand {
	border: 1px solid white;

	font-family: serif;
	font-size: 6rem;
	font-style: italic;
	font-weight: bold;
	height: 100%;
	line-height: 5rem;
	padding: 50px 10px;
	text-align: center;
}

#title {
	color: yellow;
}

.articles {
	color: gainsboro;
	text-align: center;
	padding:0 25px;
	position: fixed;
	left: -900px;
	max-width: 200px;
	
}

#one {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	margin: .25rem;
	padding: 10px 25px;
}

#two {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	margin: .25rem;
	padding: 10px 25px;
}

#three {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	margin: .25rem;
	padding: 10px 25px;
}




