/*********BACKGROUND PICS************/

body {

	background-image: url(img/space.jpg);

}

img {
	background-position: center center;
	max-width: 250px;
}

.container-fluid {
	background-image: url(img/space.jpg);
		
}



.navbar-toggle{
	color: white;
}


/*********ASTRONOMY FOR KIDS***********/

.navbar-brand {
	font-family: serif;
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 5px;
}

a:first-line {
	color: white;
}

a:first-letter {
	font-size: 150%;
}


/*********SHOW ARTICLES*********/
.showArticle {
	color: gainsboro;	
	text-align: center;
	padding: 0 25px;
	max-width: 500px;
}


/******BOXES AROUND ARTICLES*******/

#one {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	color: white;
	padding: 10px 25px;
	margin: 25px auto;
}

#two {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	color: white;
	margin: 25px auto;
	padding: 10px 25px;
}

#three {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset;
	color: white; 
	margin: 25px auto;
	padding: 10px 25px;
}

.articleImages {
  	display: none;
}

.container-carousel, .articleImages {
  	display: none;
	}

.show {
	display: inline;
}




/*********CAROUSEL OF IMAGES-SM SCREEN*********/

@media screen and (min-width: 768px) {

.container-carousel {
	display: inline;
}


}


/************MD SCREEN*************/
@media screen and (min-width: 970px) {







}