/*********BACKGROUND PICS************/

body {
	background-image: url(img/space.jpg);
}

.container-fluid {
	/*background-image: url(img/space.jpg);	*/
	
}




.navbar-toggle{
	color: white;
}

/*********ASTRONOMY FOR KIDS***********/

.navbar-brand {
	border: 1px solid white;

	font-family: serif;
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 5px;
}

a:first-line {
	color: white;
}

a:first-letter {
	font-size: 150%;
}


/*******HIDE ARTICLES********/

.articles {
	display: none;
}

/*********SHOW ARTICLES*********/
.showArticle {
	color: gainsboro;	
	text-align: center;
	padding: 0 25px;
	max-width: 500px;

}

#test {

}

/******BOXES AROUND ARTICLES*******/

#one {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	color: white;
	margin: .25rem;
	padding: 10px 25px;


}

#two {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	color: white;
	margin: .25rem;
	padding: 10px 25px;
}

#three {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset;
	color: white; 
	margin: .25rem;
	padding: 10px 25px;
}


/*********CAROUSEL OF IMAGES*********/

@media screen and (max-width: 768px) {
.container-carousel {
  	display: none;
	}
}

.carousel-inner {
	width: 100%;
	height: 20em;
}






