/*********BACKGROUND PICS************/

body {
	background-image: url(img/space.jpg);
}

.container-fluid {
	background-image: url(img/space.jpg);	
	
}




.navbar-toggle{
	color: white;
}

/*********ASTRONOMY FOR KIDS***********/

.navbar-brand {
	font-family: serif;
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 5px;
}

a:first-line {
	color: white;
}

a:first-letter {
	font-size: 150%;
}

/**********IMG'S***********/

div img {
	
}

/*********ARTICLES*********/

.article {
	color: gainsboro;	
	text-align: center;
	padding: 0 25px;
	max-width: 500px;
}



/******BOXES AROUND ARTICLES*******/

#one {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	color: white;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px 25px;


}

#two {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset; 
	color: white;
	
	padding: 10px 25px;
	margin-top: 25px;
	margin-bottom: 25px;

}

#three {
	background-color: rgba(240, 248, 255, .10);
	box-shadow: 0px 2px 96px rgba(240, 248, 255, .25) inset;
	color: white; 
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px 25px;
}

.container-carousel {
  	display: none;
}

/*********CAROUSEL OF IMAGES*********/


@media screen and (min-width: 768px) {

.container-carousel {
	display: inline;
}

.carousel-inner {
	width: 100%;
	height: 20em;
}

div img {
	display: none;
}


}


